/* Detail Page */
.detail-addl-images {
    grid-area: 2 / 2 / span 2 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.detail-addl-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.detail-main-image-container {
    grid-area: 2 / 3 / span 2 / span 4;
}
.detail-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.detail-main-info {
    grid-area: 2 / 7 / span 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.detail-title {
    font-size: 36px;
}
.detail-price {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 36px;
}
.detail-info-reviews-container {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
}
.detail-info-reviews-description {
    padding-left: 10px;
    padding-top: 2px;
}
.detail-size-color {
    grid-area: 3 / 7 / span 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.detail-size-container {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
}
.detail-size-label {
    margin-top: 10px;
    margin-right: 30px;
    font-size: 24px;
}
.detail-size-dropdown {
    width: 211px;
    height: 50px;
}
.detail-color-container {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    padding-top: 44px;
}
.detail-color-label {
    margin-right: 30px;
    font-size: 24px;
}
.detail-description {
    grid-area: 4 / 7 / span 1 / span 3;
    text-align: justify;
    font-size: 18px;
}
.detail-reviews-container {
    grid-area: 4 / 3 / span 1 / span 4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.detail-reviews-first-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.detail-reviews-first-row-title {
    font-size: 24px;
}
.detail-reviews-first-row-label {
    padding-top: 9px;
    font-size: 14px;
    margin-left: auto;
}
.detail-reviews-second-row {
    margin-top: 10px;
    font-size: 18px;
}
.detail-reviews-third-row {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
}
.true-to-size-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.comfort-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}
.detail-reviews-fourth-row {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
}
.cuteness-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.durability-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}
.detail-reviews-stars {
    margin-right: 10px;
}
.true-to-size-label {
    margin-right: 15px;
}
.comfort-label {
    margin-right: 27px;
}
.cuteness-label {
    margin-right: 30px;
}
.durability-label {
    margin-right: 21px;
}
.detail-reviews-fifth-row {
    /* width: 100%; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-size: 14px;
}
.right-arrow {
    padding-top: 2px;
    padding-left: 5px;
}


.detail-cta {
    grid-area: 2 / 10 / span 2 / span 2;
    border: 1px solid black;
}