.products-sidebar {
    grid-area: 2 / 2 / span 4 / span 2;
    border: 1px solid black; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 24px;
}
.products-sidebar-title {
    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
}
.products-sidebar-check-title {
    font-weight: bold;
}
.products-sidebar-check-group {
    margin-top: 10px;
    padding-left: 10px;
}
.products-sidebar-check-item-group {
    margin: 0;
}
.products-sidebar-check-item {
    padding-left: 10px;
    padding-bottom: 5px;
}
.products {
    grid-area: 2 / 4 / span 10 / span 8;
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    grid-template-rows: repeat(3, 348px);
    grid-gap: 20px;
    grid-auto-rows: 348px;
    justify-content: left;
    justify-items: center;
    align-items: top;
    align-content: start;
    grid-auto-flow: row;
}
.product-container {
    width: 345px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.product-image-container {
    height: 200px;
}
.product-image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.product-title {
    margin: 20px 0 10px 20px;
    font-size: 24px;
}
.product-info-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    grid-template-rows: repeat(1, 100fr);
}
.product-info-left {
    grid-area: 1 / 1 / span 1 / span 1;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.product-price {
    font-size: 24px;
    margin-bottom: 17px;
}
.product-info-right {
    grid-area: 1 / 2 / span 1 / span 1;
    padding-top: 2px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}
